*.aux
*.idx
*.log
*.synctex.gz
*.toc
*.lof
*.lot
*.autosave
*.dia
*.odg
*.loa
*.dvi
*.ilg
*.ind
*.out
*.bbl
*.blg
*.fdb_latexmk
*.fls
./Capitoli/Progettazione_Concettuale.aux
.metedata/
Codice/.idea/*
Codice/.classpath
Codice/.gitignore
Codice/.project
Codice/Codice.iml
Codice/.gitignore
Codice/bin/*
Codice/out/*
/bin/
.project
.classpath
