
.choice-box {
    -fx-primary-color: #00416a;
    -fx-secondary-color: #33749D;
    -fx-light-grey-color: #d1d1d1;

    /*-fx-background-color: -fx-primary-color;*/
    /*-fx-background-color: linear-gradient(#00416a,#33749D);*/
    -fx-background-color: linear-gradient(from 30% 30% to 120% 120%, #00416a 0%, #33749D 100%);

    -fx-mark-color: -fx-secondary-color;
}

   .choice-box > .label { -fx-text-fill: white; }

