.button {
    -fx-background-color: linear-gradient(#33749D,#00416a);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 15;
}