.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#00416a,#33749D);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-alignment: center;
}

.list-cell:even {
    -fx-background-color: #33749D;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-alignment: center;
}
.list-cell:odd {
    -fx-background-color: #33749D;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-alignment: center;
}

.list-cell:filled:hover {
    -fx-background-color: #00416a;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-alignment: center;
}
.list-view{
    -fx-background-color: #33749D;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-alignment: center;
}
.scroll-bar{
    -fx-background-color: linear-gradient(#00416a,#33749D);
}