.button {
    -fx-background-color:#5e81ac ;
    /*-fx-background-color:#457b7a;*/
    /*-fx-background-color:#994e55;*/
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 15;
}
.root{
    -fx-background-color:#2e3440;
    /*-fx-background-color: #232730;*/
}
.text-field{
    -fx-background-color: #2e3440;
    -fx-border-radius: 3;
    -fx-border-width: 3;
    -fx-border-color: #5e6675;
    -fx-text-fill: #eceff4;
    -fx-font-size: 15;
}
.text-area .content{
    /*-fx-background-color: transparent;*/
    -fx-background-color: #2e3440;
    -fx-text-fill: #eceff4;
}
.text-area{
    -fx-background-color: #2e3440;
    -fx-text-fill: #eceff4;
    -fx-border-radius: 3;
    -fx-border-width: 3;
    -fx-border-color: #5e6675;
}
.date-picker{
    -fx-background-color: #2e3440;
    -fx-primary-color: #5e81ac;
    -fx-secondary-color: #2e3440;
    -fx-light-grey-color: #eceff4;
    -fx-focus-color: -fx-secondary-color;
}

.date-picker .arrow-button {
    -fx-background-color: -fx-primary-color;
    -fx-background-radius: 0;
}
.date-picker .arrow-button:hover {
    -fx-background-color: -fx-secondary-color;
}
.date-picker .arrow-button .arrow {
    -fx-background-color: #eceff4;
}
.date-picker .cell:hover {
    -fx-background-color: -fx-light-grey-color;
}
.date-picker .cell:focused {
    -fx-background-color: -fx-light-grey-color;
}
.date-picker .selected {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: #eceff4;
}
.date-picker .selected:focused {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: #eceff4;
}
.date-picker-popup  {
    -fx-border-color: transparent;
}
.date-picker-popup .month-year-pane {
    -fx-background-color: -fx-primary-color;
}
.date-picker-popup .month-year-pane .label {
    -fx-text-fill: #eceff4;
}
.date-picker-popup .week-number-cell {
    -fx-text-fill: -fx-secondary-color;
}
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
    -fx-background-color: #eceff4;
}
.choice-box{
    -fx-background-color: #2e3440;
    -fx-border-radius: 3;
    -fx-border-width: 3;
    -fx-border-color: #5e6675;
}
.choice-box > .label { -fx-text-fill: white; }
