.button {
    -fx-background-color:#5e81ac ;
    /*-fx-background-color:#457b7a;*/
    /*-fx-background-color:#994e55;*/
    -fx-background-radius: 3;
    -fx-background-insets: 0;
    -fx-text-fill: #eceff4;
    -fx-font-weight: bold;
    -fx-font-size: 15;

}
#pane{
    -fx-background-color:#2e3440;
    -fx-border-radius: 10;
    -fx-border-color: #5e6675;
}
/*Choice Box*/
.choice-box{
    -fx-background-color: #2e3440;
    -fx-border-radius: 3;
    -fx-border-width: 3;
    -fx-border-color: #5e6675;
}
.choice-box > .label { -fx-text-fill:#eceff4; }

#HBox{
    -fx-background-color: #232730;

}
* {
    -fx-primary-color: #232730;
    -fx-secondary-color: #2e3440;

    -fx-focus-color: -fx-secondary-color;
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-background-color: -fx-primary-color;
    -fx-background-radius: 0;
}
.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover {
    -fx-background-color: -fx-secondary-color;
}
.spinner .increment-arrow-button:hover:pressed,
.spinner .decrement-arrow-button:hover:pressed,
.spinner .increment-arrow-button:pressed,
.spinner .decrement-arrow-button:pressed {
    -fx-background-color: -fx-secondary-color;
}
.spinner .increment-arrow-button .increment-arrow,
.spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: #eceff4;
}
/*Text Field*/
.text-field{
    -fx-background-color: #2e3440;
    -fx-border-radius: 3;
    -fx-border-width: 3;
    -fx-border-color: #5e6675;
    -fx-text-fill: #eceff4;
    -fx-font-size: 15;
}
/*Text Area*/
.text-area .content{
    /*-fx-background-color: transparent;*/
    -fx-background-color: #2e3440;
    -fx-text-fill: #eceff4;
}
.text-area{
    -fx-background-color: #2e3440;
    -fx-text-fill: #eceff4;
    -fx-border-radius: 3;
    -fx-border-width: 3;
    -fx-border-color: #5e6675;
}